body,
html {
    height: 100%;
    background-image: url("../img/header-image.jpg");
    background-size: cover;
    position: relative;
    background-color: bisque;
}

#navMain {
    font-family: 'Happy Monkey';
    font-size: 100%;
    text-transform: uppercase;
}

#navMain .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: rgba(255, 255, 255, 0.973);
}

#navMain a {
    color: rgba(250, 250, 250, 0.973);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}
#start-game a {
    margin-top: 60%;
}

#start-game {
    text-align: center;
}

.live-content h1 {
    font-size: 10em;
}

.player-turn {
    background-color: darkcyan;
    height: 20em;
}
.game-content {
    color: white;
    text-align: center;
    padding-top: 10%;
}

.dice-game {
    padding-top: 6%;
    display: none;
}

.center-panel button {
    margin: 5%;
}

.center-panel p {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
    color: rgba(255, 0, 0, 0.616);
}

.winner {
    background-image: url("../img/dice.gif");
    background-size: cover;
    /* height:5em; */
}

.winner-text {
    padding-top: 6em;
    padding-bottom: 6em;
    padding-left: 2%;
    color: white;
}

