body,
html {
    height: 100%;
    background-image: url("../img/header-image.jpg");
    background-size: cover;
    position: relative;
    background-color: bisque;
}

#navMain {
    font-family: 'Happy Monkey';
    font-size: 100%;
    text-transform: uppercase;
}

#navMain .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: rgba(255, 255, 255, 0.973);
}

#navMain a {
    color: rgba(250, 250, 250, 0.973);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}
